{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>

  blockquote{
    height:auto;
    width:auto;
    text-align:center;
    
  }
  blockquote h2{
padding:10px;
text-align:center;
color:black;
padding:10px;
font-weight:bolder;


  }


</style>

<!-- HOME -->
<section class="home-section section-hero overlay bg-image"
  style="background-image: url(/static/images/background.png);" id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">The Easiest Way To Get Your Dream Job</h1>
          <p>It is very important for the customer to pay attention to the adipiscing process. It is lust, the result of suffering.</p>
        </div>
        <form method="GET" action="{% url 'jobapp:search_result' %}" class="search-jobs-form">
          {% include 'jobapp/search.html' %}
        </form>
      </div>
    </div>
  </div>
  <a href="#next" class="scroll-button smoothscroll">
    <span class=" icon-keyboard_arrow_down"></span>
  </a>

</section>

<section class="py-5 bg-image overlay-primary fixed overlay" id="next"
  style="background: url(/static/images/bgdetail.png);">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2 text-white">JobPortal Status</h2>
        <p class="lead text-white">The company itself is a very successful company. Expedited from the offices
          those who refuse to follow will receive the corrupt.</p>
      </div>
    </div>
    <div class="row pb-0 block__19738 section-counter">

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="" data-number="{{ total_jobs }}"></strong>
        </div>
        <span class="caption"></span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="{{ total_candidates }}">0</strong>
        </div>
        <span class="caption">Candidates</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="{{ total_companies }}">0</strong>
        </div>
        <span class="caption">Companies</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="" data-number="{{ total_completed_jobs }}"></strong>
        </div>
        <span class="caption"></span>
      </div>


    </div>
  </div>
</section>

<section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url(/static/images/about_1.jpg);">
  <div class="container">
    {% if request.user.role == "employer" %}
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">We hire candidates for our company.</h2>
        <p class="mb-0 text-white lead">The company itself is a very successful company. Expedited from the offices
          those who refuse to follow will receive the corrupt.</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="{% url 'jobapp:create-job' %}" class="btn btn-warning btn-block btn-lg">Post Your Job</a>
      </div>
    </div>
    {% elif request.user.role == "employee" %}
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Looking For A Job?</h2>
        <p class="mb-0 text-white lead">The company itself is a very successful company. Expedited from the offices
          those who refuse to follow will receive the corrupt.</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="{% url 'jobapp:job-list' %}" class="btn btn-warning btn-block btn-lg">Job List</a>
      </div>
    </div>
    {% else %}
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Looking For A Job?</h2>
        <p class="mb-0 text-white lead">The company itself is a very successful company. Expedited from the offices
          those who refuse to follow will receive the corrupt.</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="{% url 'account:employee-registration' %}" class="btn btn-warning btn-block btn-lg">Sign Up</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>

<section class="bg-#c39bd3  pt-5 testimony-full"">

  <div class="owl-carousel single-carousel">

{% comment %} slider 1 {% endcomment %}
    <div class="container" >
      <div class="row">
        <div class="col-lg-6 align-self-center text-center text-lg-left">
          <blockquote>
            <h2><a href="{% url 'jobapp:job-list' %}">Spa Manager </a> </h2>
            <p>We are looking for experienced spa managers to oversee daily operations, manage staff, and enhance customer 
         experiences. Candidates should have strong leadership skills, a passion for wellness, and the ability to maintain high service standards. </p>
          </blockquote>
        </div>
        <div class="col-lg-6 align-self-end text-center text-lg-right">
          <img src="/static/images/spajobs/spamanager.png" alt="Image" class="img-fluid mb-0" >
        </div>
      </div>
    </div> 
    {% comment %} slider 2 {% endcomment %}

    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center text-center text-lg-left">
          <blockquote>
            <h2> <a href="{% url 'jobapp:job-list' %}"> Receptionist </a></h2>
            <p>We need Female professional receptionists to manage front-desk operations, handle calls, and assist clients. Ideal 
           candidates should have excellent communication skills, a friendly attitude, and the ability to keep administrative tasks well-organized.  </p>
          </blockquote>
        </div>
        <div class="col-lg-6 align-self-end text-center text-lg-right">
          <img src="/static/images/spajobs/Reception.png" alt="Image" class="img-fluid mb-0">
        </div>
      </div>
    </div> 

    {% comment %} slider 3 {% endcomment %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center text-center text-lg-left">
          <blockquote>
            <h2> <a href="{% url 'jobapp:job-list' %}"> Therapists </a></h2>
            <p> We need skilled spa therapists who specialize in massages, facials, and body treatments to provide clients
            with a relaxing and rejuvenating experience. Ideal candidates should have expertise in wellness techniques and ensure top-quality spa services. </p>
          </blockquote>
        </div>
        <div class="col-lg-6 align-self-end text-center text-lg-right">
          <img src="/static/images/spajobs/Therapist.png" alt="Image" class="img-fluid mb-0">
        </div>
      </div>
    </div> 


{% comment %} slider 4 {% endcomment %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center text-center text-lg-left">
          <blockquote>
            <h2><a href="{% url 'jobapp:job-list' %}"> Beautician </a></h2>
            <p> We are hiring beauticians who specialize in skincare, makeup, and hair styling. Candidates should have hands-on
        on experience in beauty treatments and a passion for enhancing clients' appearances with high-quality products and techniques.  </p>
          </blockquote>
        </div>
        <div class="col-lg-6 align-self-end text-center text-lg-right">
          <img src="/static/images/spajobs/beautician.png" alt="Image" class="img-fluid mb-0">
        </div>
      </div>
    </div>

    {% comment %} slider 5 {% endcomment %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center text-center text-lg-left">
          <blockquote>
            <h2> <a href="{% url 'jobapp:job-list' %}">Digital Marketing </a> </h2>
            <p> We are looking for digital marketing experts to develop and manage online campaigns, including SEO, social media,
              and content marketing. Candidates should be creative, data-driven, and capable of boosting brand presence effectively.</p>
          </blockquote>
        </div>
        <div class="col-lg-6 align-self-end text-center text-lg-right">
          <img src="/static/images/spajobs/dm.png" alt="Image" class="img-fluid mb-0">
        </div>
      </div>
    </div>

{% comment %} slider 6 {% endcomment %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center text-center text-lg-left">
          <blockquote>
            <h2><a href="{% url 'jobapp:job-list' %}"> HR Recruiter  </a> </h2>
            <p>We need HR recruiters to handle hiring processes, source top talent, and conduct interviews. Candidates should have 
           strong interpersonal skills and experience in talent acquisition to build skilled and efficient teams.  
            </p>
          </blockquote>
        </div>
        <div class="col-lg-6 align-self-end text-center text-lg-right">
          <img src="/static/images/spajobs/hr.png" alt="Image" class="img-fluid mb-0">
        </div>
      </div>
    </div>

    {% comment %} slider 7 {% endcomment %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center text-center text-lg-left">
          <blockquote>
            <h2>  <a href="{% url 'jobapp:job-list' %}">Housekeeping Staff</a></h2>
            <p> We are looking for dedicated housekeeping staff to maintain cleanliness and hygiene in workplaces at offices.
            Candidates should be detail-oriented, efficient, and committed to upholding high sanitation standards.  </p>
          </blockquote>
        </div>
        <div class="col-lg-6 align-self-end text-center text-lg-right">
          <img src="/static/images/spajobs/hskp.png" alt="Image" class="img-fluid mb-0">
        </div>
      </div>
    </div>

{% comment %} slider 8 {% endcomment %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center text-center text-lg-left">
          <blockquote >
            <h2> <a href="{% url 'jobapp:job-list' %}"> Web Developer </a> </h2>
            <p>We need skilled web developers to design, develop, and maintain modern, user-friendly websites. Candidates should have 
             expertise in front-end and back-end development, ensuring high performance and seamless functionality. </p>
          </blockquote>
        </div>
        <div class="col-lg-6 align-self-end text-center text-lg-right">
          <img src="/static/images/spajobs/web.png" alt="Image" class="img-fluid mb-0">
        </div>
      </div>
    </div>

  </div>
</section>
{% include 'categories.html' %}

{% include 'how_it_works.html' %}


{% endblock %}
{% block extra_scripts %}
<script>

$("#ajax_listing_paginattion" ).delegate( "a#ajax_paginator", "click", function( event ) {
		event.preventDefault();
    joblist = ``
    next_paging = ``
    prev_paging = ``
    page_navigator = ``
		var page_ref = $(this).attr('href');
    var page_number = page_ref.slice(6);
    console.log('page_number', page_number);
		$.ajax({
					type: "GET",
					url: "{% url 'jobapp:home' %}", 
					data : {    
          page : page_number, 
				},
        success: function (response) {
          $('#job').html('')
                    response.job_lists.map(function (job) {

                        joblist+=`
                          <li id="next" class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                            <a href="/job/${job.id}/"></a>
                              <div class="job-listing-logo">
                                <img src="{% static 'images/i.jpg' %}" alt="Free Website Template by Free-Template.co"
                                  class="img-fluid">
                              </div>

                              <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                                <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                  <h2>${ job.title }</h2>
                                  <strong>${ job.company_name }</strong>
                                </div>
                                <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                  <span class="icon-room"></span>${ job.location } 
                                </div>
                                
                                <div class="job-listing-meta">
                                  ${ job.job_type == '1'
                                  ?  
                                  `<span class="badge badge-success">
                                    Full Time
                                  </span>`
                                  : 
                                  job.job_type == '2' 
                                  ?  
                                  `<span class="badge badge-danger">
                                    Part Time
                                  </span>` 
                                  :
                                  `<span class="badge badge-info">
                                    Internship
                                  </span>
                                  `
                                  }
                                </div>
                              </div>
                            </li>
                        ` 
                      })

                        $('#job').html(joblist)
                        response.next_page_number != null ?
                        next_paging+=`<a id="ajax_paginator" class="next" href="?page=${ response.next_page_number }">Next</a>`
                        : ''

                        $('div>#next_page').html(next_paging)
                        $('div>.active').removeClass('active')
                        $('div>.ajax_paginator_'+response.current_page_no).addClass('active')
                        
                        // .attr('href','http://example.com')
                        // .removeAttr("href");
                        
                        response.current_page_no > 1 ?
                        prev_paging+=`<a id="ajax_paginator" href="?page=${ response.prev_page_number }" class="prev">Prev</a>`
                        : ''
                        $('div>#prev_page').html(prev_paging)

                        page_navigator+=`Showing ${ response.current_page_no } of ${ response.no_of_page } Pages`
                        $('div>#page_navigator').html(page_navigator)
                      
                    },
                    
				error: function () {
					alert('Error Occured');
				}
			});

	});  
  
  
	</script>
{% endblock %}


